* {
    box-sizing: border-box;
    margin: 0;
}

main {
    display: grid;
    grid-template-rows: 7.65% 1fr 6.65% 6.65%;
    grid-template-columns: 20% 1fr;
    grid-gap: 10px;
    height: 100vh;
}

div {
    display: flex;
    padding: 1.2em;
}

.topHeader {
    background-color: #9acd32;
    grid-area: 1 / 1 / 2 / -1;
}

.leftNav {
    background-color: #9acd32;
    grid-area: 2 / 1 / 4 / 2;
}

.centerBigArticle {
    background-color: #9acd32;
    grid-area: 2 / 2 / 3 / -1;
}

.centerSmallAds {
    background-color: #9acd32;
    grid-area: 3 / 2 / 4 / -1;
}

.bottomFooter {
    background-color: #9acd32;
    grid-area: 4 / 1 / -1 / -1;
}