body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

:root {
    --bg-info-color: #c3d5ff;
    --text-info-color: #231379;
    --bg-success-color: #c5f2d2;
    --text-success-color: #1d6635;
    --bg-warning-color: #fbfdbd;
    --text-warning-color: #a49946;
    --bg-error-color: #f8c8cf;
    --text-error-color: #73112b;
}


.message {
    margin: 8px 3px;
    padding: 9px;
    border: 1px solid grey;
    border-radius: 5px;
}

.message-info{
    color: var(--text-info-color);
    background-color: var(--bg-info-color);

}

.message-success {
    color: var(--text-success-color);
    background-color: var(--bg-success-color);
}

.message-warning {
    color: var(--text-warning-color);
    background-color: var(--bg-warning-color);
}

.message-error {
    color: var(--text-error-color);
    background-color: var(--bg-error-color);
}

