/* BODY STYLING */
* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body,
main::before {
    background-image: url(../img/trees-and-grass-field-under-cloudy-sky-during-daytime-186980.jpg);
    background-size: cover;
    background-position: bottom;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

main {
    margin: auto;
    top: 10em;
    position: relative;
    background: hsla(0,0%,60%,.3);
    line-height: 1.5;
    border-radius: 5px;
    width: 92%;
    box-shadow: 5px 3px 30px black;
}

main::before {
    content: '';
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    filter: blur(5px);
    z-index: -1;
}


#weatherInfo {
    width: 100%;
    padding: 25px;
}

.dateFont {
    margin-top: 3px;
    text-align: center;
    font-size: 1.5em;
}

.tempFont {
    text-align: center;
    font-size: 3em;
    width: 100%;
}

.weatherInfoFont {
    text-align: center;
    font-size: 1.5em;
    padding: 3px;
    width: 100%;
}

.weatherIcon img {
    display: block;
    max-width: 414px;
    max-height: 160px;
    width: auto;
    height: auto;
    margin: -25px auto;
}

canvas.mapboxgl-canvas {
}

.card-body > div {
    width: 100%;
}

.transparent {
    background: rgba(255, 255, 255, .2);
    border: none;
}

.mapboxgl-popup-content {
    background: rgba(255, 255, 255, 0);
    box-shadow: none;
}

.mapboxgl-popup-close-button {
    display: none;
}

#topNav {
    text-align: center;
    padding: 0;
    margin: 0;
}

#mapButton {
    background: none;
    border: none;
}

.hidden {
    display: none;
}

#mapModal {
}

#map {
    position: absolute;

    left: 10%;
    top: 25.5%;
    bottom: 0;
    z-index: 2;
    width: 80%;
    height: 30%;

}


/* TESTING & DELETE LATER */













































