html {
    margin: 3em;
}

#received {
    text-align: right;
    padding-bottom: 10px;
}

#mainTitle {
    text-align: center;

}

.headerUpperBold {
    font-size: 2.1em;
    font-weight: bold;
}

.headerUpperSmall {
    font-size: 1em;
}

.headerSmallBold {
    font-size: 1em;
    font-weight: bold;
}

.headerBigBold {
    font-size: 1.5em;
    font-weight: bold;
}
#pageBreakHeader {
    padding-bottom: 5px;
}